# If you are only using Pages + D1, you only need the below in your wrangler.toml to interact with D1 locally.
[[d1_databases]]
binding = "DB" # Should match preview_database_id
database_name = "<DATABASE_NAME>"
database_id = "<DATABASE_ID>"
preview_database_id = "DB" # Required for Pages local development
